lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.jpg
*.JPG
*.jpeg
*.JPEG
*.gif
*.GIF
*.png
*.PNG
*.tiff
*.TIFF
*.pdf
*.PDF
*.zip
*.rar
*.ZIP
*.RAR
pids
logs
npm-debug.log
node_modules
*.jpg
.DS_Store
.DS_STORE
.csscomb.json
sftp-config.json